table {
  width: 100vw;

  .name-cell {
    background: #808080;
  }

  .weight-cell {
    background: #949494;
  }

  .symbol-cell {
    background: #a9a9a9;
  }

  .clicked-cell {
    background: #d3d3d3;
  }

  .header-row {
    background: #2c2c2c;
  }

  .mat-mdc-row {
    cursor: url(/assets/img/cursor.png), auto;

    &:nth-child(even):hover {
      .mat-mdc-cell {
        background: #a6a6a6;
      }
    }

    &:nth-child(odd):hover {
      .mat-mdc-cell {
        background: #9a9a9a;
      }
    }
  }
}
