<p>A step-one works!</p>
<div [formGroup]="formGroup">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field EMAIL</mat-label>
      <input matInput type="email" placeholder="Placeholder" formControlName="email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <!-- date-picker -->
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="releasedAt" placeholder="Release date!">
      <mat-hint align="start">DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>

</div>
