<p>A step-one works!</p>
<div [formGroup]="formGroup">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Fill form field with random text</mat-label>
      <!-- tooltip -->
      <textarea
        matInput
        placeholder="Placeholder"
        formControlName="text"
        [matTooltip]="'Info about the hint'"
        matTooltipPosition="below"
        [matTooltipShowDelay]="tooltipShowDelay"
        [matTooltipHideDelay]="90000"
        matTooltipDisabled="false"
        matTooltipClass="tool-tip"
      ></textarea>
      <mat-icon matIconSuffix>star</mat-icon>
      <mat-hint title="Title of the hint">Hint</mat-hint>
    </mat-form-field>
  </p>
</div>
