<p>A step-one works!</p>
<div [formGroup]="formGroup">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field EMAIL</mat-label>
      <input matInput type="email" placeholder="Placeholder" formControlName="email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder" formControlName="category">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="releasedAt">
      <mat-hint align="start">MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-checkbox formControlName="downloadsAllowed">Hide required marker</mat-checkbox>
  </p>
  <p>
    <mat-form-field floatLabel="always">
      <mat-label>Description</mat-label>
      <input matInput type="text" placeholder="Foo bar baz" formControlName="description" #desc>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint align="end" *ngIf="formGroup.get('description')?.valid; else errorOut">{{ desc.value.length }}</mat-hint>
      <ng-template #errorOut>
        <mat-error>invalid</mat-error>
      </ng-template>
      <span matTextPrefix>+49</span>
      <span matTextSuffix>☎</span>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Tel.:</mat-label>
      <input matInput formControlName="tel" placeholder="+49 15151212229" type="tel">
    </mat-form-field>
  </p>
  <p>
      <!-- radio button -->
      <mat-radio-group formControlName="option">
        <mat-radio-button value="auto">Auto</mat-radio-button>
        <mat-radio-button value="always">Always</mat-radio-button>
      </mat-radio-group>
  </p>
</div>
