<div class="data-form">
  <h2>Create a new xxx</h2>
  <mat-horizontal-stepper class="mat-elevation-z5"  [linear]="isLinear" labelPosition="bottom" #stepper>
    <mat-step errorMessage="⛵ in error" label="Fill out your xxx">
      <ng-template matStepLabel>⛵ A</ng-template>
      <app-step-one></app-step-one>
      <div>
        <button mat-raised-button matStepperPrevious color="primary">Back</button>
        &#160;
        <button mat-raised-button matStepperNext color="accent">Next</button>
      </div>
    </mat-step>
    <mat-step errorMessage="⛳ in error" label="Fill out your yyy">
      <ng-template matStepLabel>⛳ B</ng-template>
      <app-step-two></app-step-two>
      <div>
        <button mat-raised-button matStepperPrevious color="primary">Back</button>
        &#160;
        <button mat-raised-button matStepperNext color="accent">Next</button>
      </div>
    </mat-step>
    <mat-step errorMessage="⛽ in error" label="Fill out your zzz">
      <ng-template matStepLabel>⛽ C</ng-template>
      <app-step-three></app-step-three>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        &#160;
        <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
