:host {

  button {
    z-index: 10000;
  }

  img#logo {
    object-fit: scale-down;
    height: inherit;
    object-position: 100% 50%;
    transform: translate(-80%, 0);

  }

  .spacer {
    flex: 1 1 auto;
  }

  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }

  .active {
    color: red;
  }
}
