:host {
  .video-container {
    position: relative;
    padding-bottom: calc(var(--aspect-ratio, 0) * 100%);
    height: 0;
    width: 100%;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      object-fit: contain;
      margin-left: 50vw;
      transform: translate(-50%);

      &[poster]{
        height: 50%;
        width: 50%;
      }
    }
  }
}
